@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Pixelify Sans', system-ui, sans-serif;
  }

  #shadow {
    -webkit-text-fill-color: white;
    /* -webkit-text-stroke: 1px black; */
    text-shadow: 3px 3px 0 #000;
  }
}
